body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  color: #daeaef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary: #9dbdc6;
  --secondary: #daeaef;
  --tertiary: #ff3d2e;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}
.light-txt {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 300;
  color: var(--light);
  line-height: 1.5;
  font-size: 16px;
}
.header-txt {
  font-family: "IBM Plex Serif", serif;
}
.about-txt {
  font-family: "IBM Plex Serif", serif;
  font-size: larger;
  font-weight: bold;
}

.header-img {
  background-image: url("./assets/header/headerimg.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1px;
}
.background-img {
  background-image: url("./assets/header/background-img.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1px;
}
